.auth {
  max-width: 500px;
  min-height: 70vh;
  margin-bottom: 10vh;
}

.auth-button {
  width: 89%;
  margin-left: 3%;
}

@media screen and (min-width:380px) {
  .auth-button {
    width: 85%;
    margin-left: 5%;
  }
}