.order {
  width: 92%;
  margin: 8vh auto 30vh;
}

@media screen and (min-width:576px) {
  .order {
    width: 83%;
  }
}

@media screen and (min-width:768px) {
  .order {
    width: 77%;
  }
}

@media screen and (min-width:992px) {
  .order {
    width: 70%;
    margin-bottom: 36vh;
  }
}

@media screen and (min-width:1200px) {
  .order {
    width: 62%;
  }
}

@media screen and (min-width:1400px) {
  .order {
    width: 52%;
  }
}
