.signIn {
  width: 80%;
  margin: 15vh auto 35vh;
}
.signIn-icon {
  width: 100%;
}
.signIn-button {
  width: 91%;
  margin-left: 3%;
}

@media screen and (min-width:380px) {
  .signIn-icon {
    width: auto;
  }
  .signIn-button {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:576px) {
  .signIn {
    width: 70%;
  }
  .signIn-button {
    width: 98%;
  }
}

@media screen and (min-width:768px) {
  .signIn {
    width: 50%;
  }
  .signIn-button {
    width: 97%;
  }
}

@media screen and (min-width:992px) {
  .signIn {
    width: 45%;
    margin-bottom: 40vh;
  }
  .signIn-button {
    width: 96%;
  }
}

@media screen and (min-width:1200px) {
  .signIn {
    width: 43%;
  }
  .signIn-button {
    width: 94%;
  }
}

@media screen and (min-width:1400px) {
  .signIn {
    width: 40%;
  }
  .signIn-button {
    width: 92%;
  }
}
