.header-logo {
  width: 155px;
}

.user-name {
  font-weight: 500;
}

.logout {
  border-width: 1.5px;
  font-weight: 500;
  transition: 0.5s;
}

.signin {
  font-weight: 500;
  padding: 8px;
}

.signin::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: black;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(-10%, 0, 0);
}

.signin:hover::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}