.manage-gimbap-image-wrapper {
  min-width: 160px;
  max-width: 250px;
  aspect-ratio: 1 / 1;
}

.manage-gimbap-image-wrapper::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 1.5px solid black;
  border-radius: 3px;
  z-index: -1;
  inset: 0;
  transform: rotate(7deg);
  transition: 0.5s;
}

.manage-gimbap-image-wrapper:hover::before {
  transform: rotate(0deg);
  transition: 0.5s;
}

.manage-gimbap-image {
  object-fit: cover;
}