.number-input {
  width: 55px;
  height: 25px;
}
.gimbap-form-image {
  width: 250px;
}
.gimbap-form-image-wrapper::before {
  position: absolute;
  content: '';
  display: block;
  width: 250px;
  border: 1px solid black;
  z-index: -1;
  inset: 0;
  transform: rotate(5deg);
}
