@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Finlandica', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  display: inline;
  list-style: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="checkbox"],
button[type="submit"],
button[type="submit"]:hover {
  border: 1px solid black;
}

input[type="radio"] {
  border: 1px solid black;
}

button[type="submit"],
button[type="submit"]:hover,
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: black !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
  }
}